<%- include('partials/header') -%>

 
<main class="flex flex-wrap">
        <div class="col 1">
          <h2>List of Students</h2>
            <% for(var i=0; i<students.length; i++) {%>
                <li class="text-black">
                  <form class="col-1"
                  action="/classroom/<%= id%>/addstudent/<%= students[i]._id %>?_method=PUT"
                  method="POST">
                
                    <a href="/profile/<%= students[i]._id%>"><%= students[i].userName%></a>
                    <button class="btn btn-primary fa fa-plus" type="submit"></button>

                  </form>
                     
                </li>

            <% } %>
        </div>
        <!-- List of Students in this Class -->
        <div class="col 1">
          <h2>List of Students In This Class</h2>
            <% for(var i=0; i<addedStudents.length; i++) {%>
                <li class="text-black">
                  
                
                    <a href="/profile/<%= addedStudents[i]._id%>"><%= addedStudents[i].userName%></a>
                    
            
                     
                </li>

            <% } %>
        </div>
      </main>