<%- include('partials/headerLoggedIn') -%>
<div class="flex">
<% for(var i=0; i<posts.length; i++) {%>
<div class="card w-96 bg-base-100 shadow-xl">
  <p><%= posts[i].user%></p>
  <figure class="px-10 pt-10">
    <a href="/post/<%= posts[i]._id%>">
    <img src="<%= posts[i].image%>" alt="Shoes" class="rounded-xl" />
  </a>
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title"><%= posts[i].title%></h2>
    <p class="truncate ..."><%= posts[i].caption%></p>
    <div class="card-actions">
      <button class="btn btn-primary">Comment</button>
    </div>
  </div>
</div>
<% } %>

</div>





  <!-- <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>   -->
<%- include('partials/footer') -%>