<%- include('partials/header') -%>
    <div class="grid grid-cols-3 gap-4">

        <!-- Feed -->
        <div class="bg-red-500 text-white h-24 col-span-2 row-span-2 h-full flex">
            <% for(var i=0; i<posts.length; i++) {%>
            <div class="card w-48 bg-base-100 shadow-xl">
                <figure>
                    <a href="/post/<%= posts[i]._id%>">
                    <img class="object-cover w-48 h-48" src="<%= posts[i].image%>" alt="" />
                    </a>
                </figure>
                <div class="card-body">
                  <h2 class="card-title text-black"><%= posts[i].title%></h2>
                  <p class="text-black"><%= posts[i].caption%></p>
                </div>
              </div>
              <% } %>
                
                <a class="btn btn-primary" href="/feed">Return to Feed</a>

            <!-- <ul class="row list-unstyled">
                <% for(var i=0; i<posts.length; i++) {%>
                <li class="col-6 justify-content-between">
                    <a href="/post/<%= posts[i]._id%>">
                    <img class="object-scale-down h-48 w-96 ..." src="<%= posts[i].image%>">
                    </a>
                </li>
                <% } %>
                </ul>
                <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
            
        </div>


        
        
            
             <!-- Students List -->
             <div class="bg-blue-500 text-white ">

                <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
                    <div class="collapse-title text-xl font-medium text-black">
                      Students
                    </div>
                    <div class="collapse-content"> 
                        <% for(var i=0; i<students.length; i++) {%>
                            <li class="text-black">
                                <%= students[i].userName%>
                            </li>
                        <% } %>
                    </div>
                  </div>



                
                <a href="/signupStudent" class="col-3 btn btn-primary"> Add student</a>
             </div>

            <!-- Add Post -->
             <div class="bg-yellow-500 text-white row-span-2 h-full">
                <h2>Add a post</h2>
                <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control text-black" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <textarea class="form-control text-black" id="caption" name="caption"></textarea>
                </div>
                <div class="mb-3">
                    <label for="imgUpload" class="form-label">Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                </form>
             </div>

             <!--Profile posts -->
             <div class="bg-purple-500 text-white h-24">
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout" class="col-3 btn btn-primary">Logout</a>
             </div>
        
      </div> 
      
<%- include('partials/footer') -%>


