<%- include('partials/header') -%>
<div class="contaner">

    <div class="grid grid-cols-3 gap-4">

        <!-- Feed -->
        <div class=" bg-red-500 text-white col-span-2 row-span-4 h-108 gap-4 px-4 py-4 flex flex-wrap justify-center overflow-y-auto">
            <% for(var i=0; i<posts.length; i++) {%>
            <div class="card w-48 h-98 bg-base-100 shadow-xl">
                <figure>
                    <a href="/post/<%= posts[i]._id%>">
                    <img class="object-cover w-48 h-48" src="<%= posts[i].image%>" alt="" />
                    </a>
                </figure>
                <div class="card-body">
                  <h2 class="card-title text-black"><%= posts[i].title%></h2>
                  <p class="text-black"><%= posts[i].caption%></p>
                </div>
              </div>
              <% } %>
        </div>

            <!-- User Info-->
            <div class=" bg-yellow-500 text-black row-span-0 ">

                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a class="btn btn-primary" href="/feed">Return to Feed</a>
                <a href="/logout" class="col-3 btn btn-primary">Logout</a>
                
             </div>

            <!-- Students-->
             <div class=" bg-blue-500 text-black">

                <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
                    <div class="collapse-title text-xl font-medium text-black">
                      Students
                    </div>
                    <div class="collapse-content"> 
                        <% for(var i=0; i<students.length; i++) {%>
                            <li class="text-black">
                                <%= students[i].userName%>
                            </li>
                        <% } %>
                    </div>

                    <a href="/signupStudent" class="col-3 btn btn-primary"> Add student</a>
                </div>
             </div>

             <!-- Classroom Search and List -->
             <div>
                <h3>Search ClassRooms</h3>
                <form action="/class/searchClass" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                        <input type="text" placeholder="Search Classrooms" class="input input-bordered input-secondary w-full max-w-xs" id="title" name="title"c/>
                    </div>
                    
                </form>
                
                <h3>Connected ClassRooms</h3>
             </div>

             <!--Profile posts -->
             <div class=" bg-purple-500 text-black">

                <h2>Add a post</h2>
                <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control text-black" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <textarea class="form-control text-black" id="caption" name="caption"></textarea>
                </div>
                <div class="mb-3">
                    <label for="imgUpload" class="form-label">Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                </form>

             </div>
             
        
      </div>
 </div> 
      
<%- include('partials/footer') -%>


